/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

* {
    box-sizing: border-box;
}
/* body{
    font-family: 'Bree Serif', serif;
       } */
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: #b72424;
}
h5 a{
    color: #b72424;
}

label{
    padding-right: 25px;
    width: 80px;
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}


input:focus {
    border-color: #d93d3d;
}
select {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;

}


select:focus {
    border-color: #d93d3d;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #b72424;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #d93d3d;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    color: #b72424;
}
.card .list-group .list-group-item .col {
    font-size: 18px;
    color:#b72424 !important;
    text-align: center;
    padding: 0px 15px;
  }


.alert {
    padding: 10px;
    margin: 10px;
    text-align: center;

    /* background-color: #ff4040; */
    /* color: white; */
    border-radius: 0.5rem;
    /* margin-bottom: 1rem; */
}
.list-group .list-group-item .alert-success {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #d93d3d;
    text-decoration: none;
}

/* Login/Signup form */


#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 240px;
    background-color: #d93d3d;
    padding: 1rem
}

#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 20px;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
    color:#d93d3d;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



  main .nav{
    background-color: #d93d3d;
    padding: 10px;
    display: inline-flex;
    width: 100%;

  }
  main .nav .nav-link{
    background-color: #d93d3d;
    padding: 10px;
    display: inline-flex;
    width: 100%;
    color: #FFF;


  }
  main .nav .nav-item .nav-link:focus,.nav-link:active{
    background-color: #a08d8d;
     padding: 10px;
    display: inline-flex;
   width: 100%;
    color: #FFF;


  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: #FFF;
  }

  a:hover {
    color: #efefef;
  }


  .add-to-cart {
    background:#F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
  }

  .add-to-cart:hover {
    background: #d93d3d;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
  }

  .add-to{
    margin-bottom: 10px;
  }

  .add-to-cart i{
      margin-right:5px;
  }

  .add-to-cart:hover {
    background: #d93d3d;
    color: #FFFFFF;
  }
  /* .list-group .list-group-item  select:active  {
    border: 2px solid #d93d3d;
    color: #b72424;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  } */

  .list-group .list-group-item  select   {
   outline: 0;

    box-shadow: 0 7px 30px -10px white;
    color: #ffff;
    width: 100%;
    min-width: max-content;
    font-size: 14px;
    /* transition: 0.4s; */
    background-color: #d93d3d;
    border: 2px solid #d93d3d;
    box-sizing: border-box;

    transition: all 0.3s;

}
  .list-group .list-group-item  select  option{
   outline: 0;
    box-shadow: 0 7px 30px -10px rgb(199, 100, 100);
    color: #d93d3d;
    width: 100%;
    min-width: max-content;
    font-size: 14px;
    /* transition: 0.4s; */
    background-color: #ffffff;
    border: 2px solid #d93d3d;
    box-sizing: border-box;

    transition: all 0.3s;

}
a i:hover{
    color:  #d93d3d;
}

/* .paypal-buttons:nth-child(n+2) {
    display: none;
    } */









